@page {
  size: 8.7in 11.56in;
  margin-left: 1in;
  margin-right: 1in;
  margin-top: 0.8in;
  margin-bottom: 0.5in;
  line-height: 8px;
}

label {
  font-size: 20;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: wrap;
}

#left {
  width: 50%;
  float: left;
  display: flex;
}
#right {
  width: 50%;
  float: right;
  display: flex;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

table.Center {
  margin-left: auto;
  margin-right: auto;
}

@media print {
  button {
    display: none !important;
  }
  input,
  textarea {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
}
/* -------- */
div {
  background: rgba(255, 255, 0, 0.1);
  border: 2px rgba(0, 0, 0, 0.5);
}

#gridBox2 {
  display: flex;
  justify-content: stretch;
  width: 285px;
  height: 184px;
}

.top-right-table {
  border: 2px solid black;
  border-radius: 10px;
}

.top-right-table-body {
  display: table;
}

.top-right-table-data {
  text-align: left;
}

.top-right-table-row,
.top-right-table-data {
  border: none;
}

.top-right-table-data label {
  font-size: 18;
}

.main-title {
  text-align: center;
}

.building-details-form {
  display: flex;
  justify-content: flex-end;
}

.top-center-table-container {
  display: flex;
  justify-content: center;
}

.top-center-table td,
tr {
  border: none;
}

.top-center-table {
  border: none;
}

.top-left-picture {
  border: 2px solid black;
  height: 180px;
  width: 160px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 18;
  border-radius: 10px;
}

.underlined-input-container {
  border-bottom: 2px solid black;
  border-bottom-style: dotted;
}

.main-form-element {
  display: flex;
}

.main-form-element .underlined-input-container {
  width: 68%;
}
.main-form-element .underlined-input-container input {
  width: 100%;
}
.main-form-element #right .underlined-input-container {
  width: 65%;
}
.current-address-input-container {
  width: 83% !important;
}

.work-address-input-container {
  width: 59.5% !important;
}

.religion-input-container {
  width: 82% !important;
}

.educational-qualification-input-container {
  width: 61% !important;
}

.contact-number-input-container {
  width: 61% !important;
}

.email-id-input-container {
  width: 67% !important;
}

.national-id-input-container {
  width: 71% !important;
}

.passport-number-input-container {
  width: 68% !important;
}
.contact-name-input-container {
  width: 75% !important;
}
.contact-relation-input-container {
  width: 74% !important;
}
.contact-address-input-container {
  width: 69% !important;
}
.contact-number-input-container {
  width: 60% !important;
}
.top-right-underlined-input-container {
  border-bottom: 2px solid black;
  border-bottom-style: dotted;
  width: 100% !important;
}

/* -------- */
