<style>

@page{
    size: 8.7in 11.56in;
    margin-left: 1in;
    margin-right: 1in;
    margin-top: 0.8in;
    margin-bottom: 0.5in;
    line-height: 8px;
}

label{
  font-size: 20;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: wrap;
}

#gridBox2{
  border: 1px solid black;
  border-radius: 10px;
  text-align: left;
  font-size: 12;
}

#left
{
 width:50%;
 float:left;   
}
#right
{
 width:50%;
 float:right;   
}

table, th, td{
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

table.Center{
  margin-left: auto;
  margin-right: auto;
}

@media print {
  button {
    display: none !important;
  }
  input,
  textarea {
    border: none !important;
    box-shadow: none !important;
    outline: none !important;
  }
}
</style>